{
  "openapi": "3.1.0",
  "info": {
    "title": "Evervault API",
    "version": "0.0.1",
    "description": "The Evervault API allows developers to interact programmatically with their Evervault apps using HTTP requests.",
    "contact": {
      "email": "support@evervault.com",
      "name": "Evervault Support Team",
      "url": "https://evervault.com"
    }
  },
  "servers": [
    {
      "url": "https://api.evervault.com",
      "description": "The Evervault API server"
    }
  ],
  "tags": [
    {
      "name": "Core",
      "x-category": true
    },
    {
      "name": "Payments",
      "x-category": true
    },
    {
      "name": "Webhooks",
      "x-category": true
    },
    {
      "name": "Insights",
      "description": "The Evervault API provides several endpoints which can be used to retrieve additional information for cards and bin ranges. This can be used for tasks such as fraud detection and payment routing.\n"
    },
    {
      "name": "3D Secure",
      "description": "3D Secure is a security protocol designed to prevent fraud in online card transactions. It adds an additional layer of authentication during the payment process.\n"
    },
    {
      "name": "Network Tokens"
    },
    {
      "name": "Card Account Updates",
      "description": "If your account has access to [Card Account Updater](/cards/card-account-updater) you can use the Card Account Updater API to register cards for automatic updates. If an update is available for a card, the `replacement` field will be populated with the identifier of the new card.\n"
    },
    {
      "name": "Merchants"
    },
    {
      "name": "Acquirers",
      "description": "The Acquirer API allows you to enroll Acquirer details with Card Networks to enable use of other payment APIs such as [3D Secure](#3d-secure).\n"
    },
    {
      "name": "Relays",
      "description": "Relay is a network proxy that can be configured to encrypt or decrypt sensitive data as it passes between a client and a destination server. Relay can be used with your own API or with third-party APIs. It is designed to be easy to use and requires minimal changes to your existing code.\n"
    },
    {
      "name": "Functions",
      "description": "Evervault [Functions](/functions) are secure serverless functions which allow you to process data encrypted by Evervault products. When you pass encrypted data to a Function, it is automatically decrypted. You can then process this data by running custom logic written in Node.js or Python as you usually would, but without ever handling it in plaintext on your infrastructure.\n"
    },
    {
      "name": "Client Tokens",
      "description": "Client-Side Tokens are short-lived tokens that can be used to perform actions from your frontend applications.\n"
    }
  ],
  "paths": {
    "/encrypt": {
      "post": {
        "x-section": "Core",
        "summary": "Encrypt",
        "description": "The encrypt endpoint can be used to encrypt the values of a JSON object, or file. When encrypting the values of a JSON object the `Content-Type` header should be set to `application/json`, when encrypting files it should be set to `application/octet-stream`.\n",
        "operationId": "encrypt",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "tags": [
          "Core"
        ],
        "requestBody": {
          "description": "A JSON value or file to be encrypted. This can be any valid JSON\nvalue: Objects, Arrays, Numbers, Boolean or Strings (strings should\nbe enclosed in double quotes).\n",
          "x-content": "A JSON value or file to be encrypted. This can be any valid JSON\nvalue: Objects, Arrays, Numbers, Boolean or Strings (strings should\nbe enclosed in double quotes).\n",
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "object",
                  "array",
                  "string",
                  "number",
                  "boolean"
                ],
                "description": "The JSON value to be encrypted. This can be any valid JSON value: Dictionaries, Arrays, Numbers, Boolean or Strings (strings should be enclosed in double quotes)."
              },
              "examples": {
                "Object": {
                  "value": {
                    "phoneNumber": "555-2368"
                  }
                },
                "String": {
                  "value": "555-2368"
                },
                "Number": {
                  "value": 17185550123
                },
                "Boolean": {
                  "value": true
                },
                "Array": {
                  "value": [
                    "555-2368",
                    1138,
                    true,
                    [
                      "555-2368"
                    ],
                    {
                      "phoneNumber": "555-2368"
                    }
                  ]
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "Encrypts a file/bytes."
              }
            }
          }
        },
        "responses": {
          "200": {
            "x-content": "An encrypted JSON object or file. For JSON requests, The payload structure will be the same as the one in the request payload, with all of the values encrypted.\n",
            "description": "An encrypted JSON object or file",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "array",
                    "string"
                  ],
                  "description": "The encrypted JSON value."
                },
                "examples": {
                  "Object": {
                    "value": {
                      "phoneNumber": "ev:debug:Tk9D:GWgxSXezEFNw10b/:A6JZWe29uiZpP72w+nc0RXOdWdvgCulNqJv8aJpLE/gH:3V/PD54obBv0j+EJMaNNa/ny2tmZq7QM:$"
                    }
                  },
                  "String": {
                    "value": "ev:debug:Tk9D:GWgxSXezEFNw10b/:A6JZWe29uiZpP72w+nc0RXOdWdvgCulNqJv8aJpLE/gH:3V/PD54obBv0j+EJMaNNa/ny2tmZq7QM:$"
                  },
                  "Number": {
                    "value": "ev:debug:Tk9D:number:Q+G8owQ5a0F8LfsM:A1iW9YmGNQjDOJ1N6KcdEoXwlORLnByhzCqJ52IIzUAn:iDmfDVHJezf/HsBUk+97HoZxI6Y=:$"
                  },
                  "Boolean": {
                    "value": "ev:debug:Tk9D:boolean:4tbwx0c6+mItTWRw:Au17EvAAE25NQqBwoeKgjxlGodhEoFqT2HUDZba9UMc1:hiG9MaMSmErtV36EkiwdncN6irM=:$"
                  },
                  "Array": {
                    "value": [
                      "ev:debug:Tk9D:GWgxSXezEFNw10b/:A6JZWe29uiZpP72w+nc0RXOdWdvgCulNqJv8aJpLE/gH:3V/PD54obBv0j+EJMaNNa/ny2tmZq7QM:$",
                      "ev:debug:Tk9D:number:Q+G8owQ5a0F8LfsM:A1iW9YmGNQjDOJ1N6KcdEoXwlORLnByhzCqJ52IIzUAn:iDmfDVHJezf/HsBUk+97HoZxI6Y=:$",
                      "ev:debug:Tk9D:boolean:4tbwx0c6+mItTWRw:Au17EvAAE25NQqBwoeKgjxlGodhEoFqT2HUDZba9UMc1:hiG9MaMSmErtV36EkiwdncN6irM=:$",
                      [
                        "ev:debug:Tk9D:ZV4ziNgNR7GEBnaD:AwF7SWjkTpAb0fQp5PvDHNMKE31HfXRDi75m+Xih8RjJ:4yqHe3WIAyWv55oblxnGwpxFKUBokYlN:$"
                      ],
                      {
                        "phoneNumber": "ev:debug:Tk9D:lAYux5azj+mjNLCp:AxGGQwASV58EKzpqVvHDnnHrjnkgssOU9wEI58edihbN:FRbTkv/Kf1R4WsSrRF3mshNgGx517XKd:$"
                      }
                    ]
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The encrypted file/bytes"
                }
              }
            }
          }
        }
      }
    },
    "/decrypt": {
      "post": {
        "x-section": "Core",
        "summary": "Decrypt",
        "description": "The decrypt endpoint can be used to decrypt the values of a JSON object, or file. When decrypting the values of a JSON object the `Content-Type` header should be set to `application/json`, when decrypting files it should be set to `application/octet-stream`.\n",
        "operationId": "decrypt",
        "security": [
          {
            "ApiKey": [
              "api:decrypt"
            ]
          },
          {
            "ClientSideToken": [
              "api:decrypt"
            ]
          }
        ],
        "tags": [
          "Core"
        ],
        "requestBody": {
          "description": "A JSON value or file to be decrypted. This can be any valid JSON\nvalue: Objects, Arrays, Numbers, Boolean or Strings (strings should\nbe enclosed in double quotes).\n",
          "x-content": "A JSON value or file to be decrypted. This can be any valid JSON\nvalue: Objects, Arrays, Numbers, Boolean or Strings (strings should\nbe enclosed in double quotes).\n",
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "object",
                  "array",
                  "string"
                ],
                "description": "The JSON value to be decrypted. This can be any valid JSON value: Dictionaries, Arrays or Strings (strings should be enclosed in double quotes). Non-encrypted values are returned unaltered."
              },
              "examples": {
                "Object": {
                  "value": {
                    "phoneNumber": "ev:debug:Tk9D:cvuknWyEBK9VT1Dv:AzyAK0mI+KP8PU5SqjRHqVSXxTkWUDwotj7qht9/Y8X6:5azjL53LkeIMdfwp4zJoApNpWJ2hJ8NKhSF5OdGejexerv8Pz7i7WDo=:$"
                  }
                },
                "String": {
                  "value": "ev:debug:Tk9D:cvuknWyEBK9VT1Dv:AzyAK0mI+KP8PU5SqjRHqVSXxTkWUDwotj7qht9/Y8X6:5azjL53LkeIMdfwp4zJoApNpWJ2hJ8NKhSF5OdGejexerv8Pz7i7WDo=:$"
                },
                "Number": {
                  "value": "ev:debug:Tk9D:cvuknWyEBK9VT1Dv:AzyAK0mI+KP8PU5SqjRHqVSXxTkWUDwotj7qht9/Y8X6:5azjL53LkeIMdfwp4zJoApNpWJ2hJ8NKhSF5OdGejexerv8Pz7i7WDo=:$"
                },
                "Boolean": {
                  "value": "ev:debug:Tk9D:cvuknWyEBK9VT1Dv:AzyAK0mI+KP8PU5SqjRHqVSXxTkWUDwotj7qht9/Y8X6:5azjL53LkeIMdfwp4zJoApNpWJ2hJ8NKhSF5OdGejexerv8Pz7i7WDo=:$"
                },
                "Array": {
                  "value": [
                    "ev:debug:Tk9D:cvuknWyEBK9VT1Dv:AzyAK0mI+KP8PU5SqjRHqVSXxTkWUDwotj7qht9/Y8X6:5azjL53LkeIMdfwp4zJoApNpWJ2hJ8NKhSF5OdGejexerv8Pz7i7WDo=:$",
                    "ev:debug:Tk9D:number:VgghOI6CiNwopB5a:A36bghlqi552fAQe+FIGm6xQOTDXqT7aZ6Y8T8BL78OM:IQE9kOqjWNZ224RW2/aTVsohXsA=:$",
                    "ev:debug:Tk9D:boolean:tJhxI4I9P2hZTask:AllHDCO297G2syVEbbsyoxOJI9XhgMGDDMaZYiq1H3w9:cvAGst7Y3/4aiS4xg9r/i4z5Vkg=:$",
                    [
                      "ev:debug:Tk9D:cvuknWyEBK9VT1Dv:AzyAK0mI+KP8PU5SqjRHqVSXxTkWUDwotj7qht9/Y8X6:5azjL53LkeIMdfwp4zJoApNpWJ2hJ8NKhSF5OdGejexerv8Pz7i7WDo=:$"
                    ],
                    {
                      "phoneNumber": "ev:debug:Tk9D:cvuknWyEBK9VT1Dv:AzyAK0mI+KP8PU5SqjRHqVSXxTkWUDwotj7qht9/Y8X6:5azjL53LkeIMdfwp4zJoApNpWJ2hJ8NKhSF5OdGejexerv8Pz7i7WDo=:$"
                    }
                  ]
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "Decrypts a file/bytes."
              }
            }
          }
        },
        "responses": {
          "200": {
            "x-content": "A decrypted JSON object or file. For JSON requests, The payload structure will be the same as the one in the request payload, with any encrypted values decrypted.\n",
            "description": "A decrypted JSON value or file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "array",
                    "string",
                    "number",
                    "boolean"
                  ],
                  "description": "The decrypted JSON value."
                },
                "examples": {
                  "Object": {
                    "value": {
                      "phoneNumber": "555-2368"
                    }
                  },
                  "String": {
                    "value": "0118 999 881 999 119 7253"
                  },
                  "Number": {
                    "value": 1138
                  },
                  "Boolean": {
                    "value": true
                  },
                  "Array": {
                    "value": [
                      "0118 999 881 999 119 7253",
                      1138,
                      true,
                      "0118 999 881 999 119 7253",
                      {
                        "phoneNumber": "0118 999 881 999 119 7253"
                      }
                    ]
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The decrypted file/bytes"
                }
              }
            }
          }
        }
      }
    },
    "/inspect": {
      "post": {
        "x-section": "Core",
        "summary": "Inspect",
        "operationId": "inspect",
        "description": "Retrieve metadata for an encrypted value such as the time of encryption,\nthe type of data, the data role and category-specific metadata (e.g. card metadata)\nwithout accessing the plaintext value.\n",
        "tags": [
          "Core"
        ],
        "security": [
          {
            "ApiKey": [
              "api:inspect"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The encrypted data to be inspected.",
                    "example": "ev:debug:Tk9D:HBpzdbFWXbX/N2cC:AyjMY/SKO49SlkXcDPtCGs+DxnUn/F8/lAtajCYZ/xT7:KV7AUn9vJJkZDtL8PKdOc8Y11yTL2vZQasFuHqM=:$"
                  }
                },
                "required": [
                  "token"
                ]
              },
              "examples": {
                "Object": {
                  "value": {
                    "token": "ev:debug:Tk9D:HBpzdbFWXbX/N2cC:AyjMY/SKO49SlkXcDPtCGs+DxnUn/F8/lAtajCYZ/xT7:KV7AUn9vJJkZDtL8PKdOc8Y11yTL2vZQasFuHqM=:$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The metadata of the encrypted data that was submitted for inspection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "integer",
                        "float",
                        "boolean",
                        "string"
                      ],
                      "description": "The type of the encrypted value.",
                      "example": "string"
                    },
                    "category": {
                      "type": "string",
                      "enum": [
                        "card-number"
                      ],
                      "description": "The category or specific nature of the encrypted value.",
                      "example": "card-number"
                    },
                    "encryptedAt": {
                      "type": "integer",
                      "description": "The date and time when the value was encrypted. This is a Unix timestamp in milliseconds. This field is currently only populated for values encrypted with a Data Role.",
                      "example": 1700067122000
                    },
                    "role": {
                      "type": "string",
                      "description": "The data role of the encrypted value.",
                      "example": "payment-data"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "A unique identifier for the encrypted value.",
                      "example": "WUlcOAgQcTN1GEUaoaKrLH1wL2PZrjsUS7byUGZyUEA"
                    },
                    "metadata": {
                      "description": "Further metadata about the encrypted value. Returns different information based on the category of the data.",
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/CardMetadata"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Encrypted Card Number": {
                    "value": {
                      "type": "string",
                      "category": "card-number",
                      "encryptedAt": 1700067122000,
                      "role": "payment-data",
                      "fingerprint": "WUlcOAgQcTN1GEUaoaKrLH1wL2PZrjsUS7byUGZyUEA",
                      "metadata": {
                        "bin": "424242",
                        "lastFour": "4242",
                        "brand": "visa",
                        "funding": "debit",
                        "segment": "consumer",
                        "country": "gb",
                        "currency": "gbp",
                        "issuer": "Gringotts Wizarding Bank and Trust Company"
                      }
                    }
                  },
                  "Encrypted String": {
                    "value": {
                      "type": "string",
                      "encryptedAt": 1700067122000,
                      "role": "sensitive-data",
                      "fingerprint": "WUlcOAgQcTN1GEUaoaKrLH1wL2PZrjsUS7byUGZyUEA"
                    }
                  },
                  "Encrypted Boolean": {
                    "value": {
                      "type": "boolean",
                      "encryptedAt": 1700067122000,
                      "role": "sensitive-data",
                      "fingerprint": "WUlcOAgQcTN1GEUaoaKrLH1wL2PZrjsUS7byUGZyUEA"
                    }
                  },
                  "Encrypted Integer": {
                    "value": {
                      "type": "integer",
                      "encryptedAt": 1700067122000,
                      "role": "sensitive-data",
                      "fingerprint": "WUlcOAgQcTN1GEUaoaKrLH1wL2PZrjsUS7byUGZyUEA"
                    }
                  },
                  "Encrypted Float": {
                    "value": {
                      "type": "float",
                      "encryptedAt": 1700067122000,
                      "role": "sensitive-data",
                      "fingerprint": "WUlcOAgQcTN1GEUaoaKrLH1wL2PZrjsUS7byUGZyUEA"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/functions/{function_name}/runs": {
      "post": {
        "x-section": "Functions",
        "summary": "Run a Function",
        "operationId": "createFunctionRun",
        "description": "The Function run endpoint lets you invoke an [Evervault Function](/primitives/functions). The body of the request should contain a payload, the value of which will be decrypted and passed as an argument to the Function.\n",
        "tags": [
          "Core",
          "Functions"
        ],
        "security": [
          {
            "ApiKey": []
          },
          {
            "TokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "function_name",
            "in": "path",
            "description": "The name of the Function to be executed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "object",
                    "description": "The data payload that the Function will use during its execution. Any encrypted values will be decrypted before being passed to the function.",
                    "example": {
                      "name": "ev:debug:Tk9D:oVPHsPvwFHNk73DU:AglNWOgZekolcrxdxSpZJOusBgE+C9eWSapGIZkgTsUj:JKeSkdhVE9SCXqQINID4oBRCE/VhTb56VWGqyObP:$"
                    }
                  },
                  "async": {
                    "type": "boolean",
                    "description": "If you want your Function to run asynchronously and notify a callback URL, this can be set to `true` and the API will queue your Function run and return a `202` response code.",
                    "example": false
                  }
                },
                "required": [
                  "payload"
                ]
              },
              "examples": {
                "SimpleExample": {
                  "value": {
                    "payload": {
                      "name": "ev:Tk9D:oVPHsPvwFHNk73DU:AglNWOgZekolcrxdxSpZJOusBgE+C9eWSapGIZkgTsUj:JKeSkdhVE9SCXqQINID4oBRCE/VhTb56VWGqyObP:$"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Function run has completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionRun"
                },
                "examples": {
                  "SuccessfulRun": {
                    "summary": "Successful Run",
                    "value": {
                      "id": "func_run_eead1d640d7c",
                      "status": "success",
                      "result": {
                        "message": "Hello from a Function! It seems you have 14 letters in your name"
                      },
                      "createdAt": 1692972623233
                    },
                    "description": "The Function ran successfully"
                  },
                  "FailedRun": {
                    "summary": "Failed Run",
                    "value": {
                      "id": "func_run_b4b2afe37083",
                      "status": "failure",
                      "error": {
                        "message": "Some error message",
                        "stack": "Error: Some error message!\\n    at exports.handler (/runtime/app/index.js:5:11)\\n    at /runtime/index.js:64:26\\n    at new Promise (<anonymous>)\\n    at /runtime/index.js:51:16"
                      },
                      "createdAt": 1692972623233
                    },
                    "description": "An error occurred during Function execution"
                  }
                }
              }
            }
          },
          "202": {
            "description": "The asynchronous Function invocation has been queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionRun"
                },
                "examples": {
                  "QueuedRun": {
                    "summary": "Queued Run",
                    "value": {
                      "status": "scheduled"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "The request has timed out.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "RequestTimeout": {
                    "summary": "Request Timeout",
                    "value": {
                      "code": "functions/request-timeout",
                      "title": "Request Timeout",
                      "status": 408,
                      "detail": "Function execution exceeded the allotted time and has timed out. Please review your code to ensure it finishes within the time limit set in function.toml."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The Function is not ready to be invoked yet. This can occur when\nit hasn't been executed in a while. Retrying to run the Function after a short\ntime should resolve this.\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FunctionNotReady": {
                    "summary": "Function Not Ready",
                    "value": {
                      "code": "functions/function-not-ready",
                      "title": "Function Not Ready",
                      "status": 409,
                      "detail": "The Function is not ready to be invoked yet. This can occur when it hasn't been executed recently. Please try again shortly."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/client-side-tokens": {
      "post": {
        "summary": "Create a Client Token",
        "operationId": "create-client-side-token",
        "description": "Client-Side Tokens are restricted to specific payloads. By default, a Client-Side Token will expire after 5 minutes. The maximum expiration time of a token is 10 minutes. When using the REST API, the expiry field must be in epoch milliseconds.\n",
        "tags": [
          "Core",
          "Client Tokens"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "api:decrypt"
                    ],
                    "description": "The action that the token should permit"
                  },
                  "payload": {
                    "type": "object",
                    "description": "The payload that the token must be used with",
                    "example": {
                      "name": "ev:debug:Tk9D:OJzdN+H2FxM86+Oa:AuUCGfKH8yYkzUvg0EjFgBOI/95D3RDZp5nwz3f2eqwJ:Zg7lsCwr2liYQOkjaRI6mwHScyn4f/Y2cxlayglTTYk1VmmDxBa5:$"
                    }
                  },
                  "expiry": {
                    "type": "integer",
                    "description": "The expiry of the token in milliseconds format. Must be less than 10 minutes from now.",
                    "example": 1619712000000
                  }
                }
              },
              "examples": {
                "Decrypt": {
                  "value": {
                    "action": "api:decrypt",
                    "payload": {
                      "phoneNumber": "ev:Tk9D:GWgxSXezEFNw10b/:A6JZWe29uiZpP72w+nc0RXOdWdvgCulNqJv8aJpLE/gH:3V/PD54obBv0j+EJMaNNa/ny2tmZq7QM:$"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A client side token and its expiry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSideToken"
                },
                "examples": {
                  "Decrypt": {
                    "summary": "Decrypt Token",
                    "value": {
                      "id": "client_side_token_TDbEef6lgIs",
                      "token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ2ZXJzaW9uIjoxLCJhcHBfdXVpZCI6ImFwcF82YWJlZDM1ZDc2YjkiLCJ0ZWFtX3V1aWQiOiJ0ZWFtX2FiZjU1YTk5MTY0NSIsImp0aSI6ImNsaWVudF9zaWRlX3Rva2VuX1REYkVlZjZsZ0lzIiwiZXhwIjoxNzA3MjMzODQxOTgxLCJhY3Rpb24iOiJhcGk6ZGVjcnlwdCIsInJlc291cmNlIjpudWxsLCJoYXNoZWRfYm9keSI6IlJCTnZvMVd6WjRvUlJxMFc5LWhrbnBUN1Q4SWY1MzZERU1CZzloeXFfNG8iLCJjbGllbnRfaXAiOm51bGx9.ea1w3TlZ7p-OLVs-NOAUMij4V5w-9vMAD8W2WEoklsDwwgy8HANXP4e8eAjTA0CkELoUL2FgNesS6S77Z-coG1Yw9TGnkEchgkA6RAXqF65t1bLrW0rvl2AzwFZNwJpEbJc37YqyC2xGeermmYKZCu6in97_fe4rAXSYQiuVtN6V8uLSlAgP9Mr0BmNIf49fnskbc0y2-2qewvZfRM7mPQ6NXcQE_jhUjy3OhaohdvU1FpaLs3OrzW2Ej8wE1hOjc5hRtT2cslaY4Bl2x4YNMRVObWg7GYCdETG280ilXTUu9jIPmkXt8QBzouZOP5nuhCjYxFJ2fYZMLj7vYukwdiyBtiUADXDzmnFyh7icAWib76z_hW3VLRjQSlq-fgvQJfM71j5RGBEmLrQNAPRREYjCiM8cwmOh5sFaLdmu4wM6-lgPn8dvHSqENwggs_nfxPyavHChNn8KOo4FS64YYeB28hqSvBAMT-umCdv7n2I-YF6fJOpgJrQOK35MPt4kKfqULJ45wpSnzsSpT9kTrLw0-9-6JpMtsQio0UJ27aXHMPErFcNMcW2hEhPdNsjSfIEmK7lCaUOed-wETkkfIaoTe5ly051baj-VWbAbNXH2jduia2rCZoofXTABADRzeBrFyDNRZXNQ205n0xh3PpIcazKw_vCAD_EDXmcCsFo",
                      "expiry": 1707233841981,
                      "createdAt": 1707233541981
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/insights/cards": {
      "post": {
        "summary": "Card Insights",
        "description": "The Card Insights API allows you to perform address verification (AVS), name verification (ANI), and CVV verification checks. You can also check the card's push and pull transaction capabilities.\n",
        "operationId": "createCardInsight",
        "tags": [
          "Payments",
          "Insights"
        ],
        "security": [
          {
            "ApiKey": [
              "insights:create"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "card": {
                    "type": "object",
                    "description": "The card details.",
                    "properties": {
                      "number": {
                        "type": "string",
                        "description": "The card number. This should be a valid Evervault encrypted card number or a valid plaintext card number.",
                        "example": "4111111111111111"
                      },
                      "expiry": {
                        "type": "object",
                        "description": "The card expiry. Required if the `address`, `cardholder`, or `cvv` extensions are requested.",
                        "properties": {
                          "month": {
                            "type": "string",
                            "description": "The card expiry month",
                            "example": "12"
                          },
                          "year": {
                            "type": "string",
                            "description": "The card expiry year",
                            "example": "29"
                          }
                        }
                      },
                      "cvv": {
                        "type": "string",
                        "description": "The card security code. This should be a valid Evervault encrypted CVV or a valid plaintext CVV. Required if the `cvv` extension is requested.",
                        "example": "123"
                      }
                    },
                    "required": [
                      "number"
                    ]
                  },
                  "extensions": {
                    "type": "array",
                    "description": "The extensions to the card insight request.",
                    "items": {
                      "type": "string",
                      "description": "The extensions",
                      "enum": [
                        "capabilities",
                        "cvv",
                        "cardholder",
                        "address"
                      ],
                      "x-enum-description": {
                        "capabilities": "Check the card's push and pull transaction capabilities",
                        "cvv": "Check the card's CVV verification",
                        "cardholder": "Check the cardholder's name verification",
                        "address": "Check the cardholder's address verification"
                      }
                    }
                  },
                  "cardholder": {
                    "type": "object",
                    "description": "Details about the cardholder that the name verification (ANI) is for. Required if the `cardholder` extension is requested.",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "The first name of the cardholder",
                        "example": "John"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "The last name of the cardholder",
                        "example": "Doe"
                      }
                    }
                  },
                  "address": {
                    "type": "object",
                    "description": "Details about the cardholder's address that the address verification (AVS) is for. Required if the `address` extension is requested.",
                    "properties": {
                      "postalCode": {
                        "type": "string",
                        "description": "The ZIP or postal code.",
                        "example": "10001"
                      },
                      "line1": {
                        "type": "string",
                        "description": "Street address line 1",
                        "example": "123 Main Street"
                      },
                      "line2": {
                        "type": "string",
                        "description": "Street address line 2",
                        "example": "Apt 4B"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city name",
                        "example": "New York"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state or province code. Required when `country` is `us`, `ca`, or `au`.",
                        "format": "iso-3166-2-subdivision",
                        "example": "ny"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country code.",
                        "format": "iso-3166-1-alpha-2",
                        "example": "us"
                      }
                    },
                    "required": [
                      "postalCode"
                    ]
                  }
                },
                "required": [
                  "card"
                ]
              },
              "examples": {
                "SimpleExample": {
                  "value": {
                    "card": {
                      "number": "4111111111111111",
                      "expiry": {
                        "month": "09",
                        "year": "29"
                      },
                      "cvv": "123"
                    },
                    "extensions": [
                      "capabilities",
                      "cvv",
                      "address",
                      "cardholder"
                    ],
                    "cardholder": {
                      "firstName": "John",
                      "lastName": "Doe"
                    },
                    "address": {
                      "postalCode": "10001",
                      "line1": "123 Main Street",
                      "line2": "Apt 4B",
                      "city": "New York",
                      "state": "ny",
                      "country": "us"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the Card Insight object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardInsight"
                },
                "examples": {
                  "Success": {
                    "summary": "Successful Card Insight createFunctionRun",
                    "value": {
                      "id": "card_insight_1234567890",
                      "fingerprint": "WUlcOAgQcTN1GEUaoaKrLH1wL2PZrjsUS7byUGZyUEA",
                      "bin": {
                        "brand": "visa",
                        "funding": "credit",
                        "segment": "consumer",
                        "country": "us",
                        "currency": "usd",
                        "issuer": "Gringotts Wizarding Bank and Trust Company",
                        "productName": "Visa Credit",
                        "fastFunds": {
                          "domestic": true,
                          "crossBorder": true
                        },
                        "threeDS": {
                          "supportedVersions": {
                            "accessControlServer": [
                              "2.2.0"
                            ],
                            "directoryServer": [
                              "2.2.0",
                              "2.3.1"
                            ]
                          },
                          "acsInfoIndicators": [
                            {
                              "code": "acs-auth-available",
                              "indicator": "01",
                              "description": "Authentication Available at ACS"
                            }
                          ]
                        },
                        "type": "card"
                      },
                      "capabilities": {
                        "push": {
                          "enabled": true,
                          "network": "visa",
                          "type": "credit",
                          "availability": "immediate",
                          "regulated": true,
                          "currency": {
                            "alphaCode": "usd",
                            "numericCode": "840"
                          },
                          "country": {
                            "alphaCode": "us",
                            "numericCode": "840"
                          }
                        },
                        "pull": {
                          "enabled": true,
                          "network": "visa",
                          "type": "credit",
                          "regulated": true,
                          "currency": {
                            "alphaCode": "usd",
                            "numericCode": "840"
                          },
                          "country": {
                            "alphaCode": "us",
                            "numericCode": "840"
                          }
                        }
                      },
                      "fees": null,
                      "cvv": {
                        "code": "match",
                        "value": "M"
                      },
                      "address": {
                        "avsIdentifier": "aBcdeFGhIJKlmnoPqR",
                        "networkIdentifier": "1234567890",
                        "networkResponseCode": {
                          "value": "85"
                        },
                        "result": {
                          "value": "Y",
                          "address": "match",
                          "zip": "match"
                        }
                      },
                      "cardholder": {
                        "result": {
                          "value": "M",
                          "code": "match-performed"
                        },
                        "fullName": {
                          "value": "M",
                          "code": "match"
                        },
                        "firstName": {
                          "value": "M",
                          "code": "match"
                        },
                        "lastName": {
                          "value": "M",
                          "code": "match"
                        }
                      },
                      "paymentAccountReference": "V0010011111111111111111111111",
                      "createdAt": 169297262323
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/bin-lookups": {
      "post": {
        "summary": "BIN Lookup",
        "description": "Performs a BIN lookup for the provided card number and retrieves associated information such as the card brand, country, issuer, and more.\n",
        "operationId": "createBinLookup",
        "tags": [
          "Payments",
          "Insights"
        ],
        "security": [
          {
            "ApiKey": [
              "binLookup:create"
            ]
          }
        ],
        "requestBody": {
          "description": "The BIN (Bank Identification Number) lookup request body, which includes the card number.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "The card number for which the BIN lookup is being requested.\nIt can be a plaintext Card number (FPAN) / Network Token number (DPAN), an encrypted\nCard number / Network Token number or simply just a BIN (6-10 first digits of a Card Number) for range lookup.\n"
                  }
                },
                "required": [
                  "number"
                ]
              },
              "examples": {
                "BinLookupExample": {
                  "summary": "Example BIN lookup request",
                  "value": {
                    "number": "4242424242424242"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns BIN details for the provided card number.",
            "x-content": "Returns the [BIN Lookup object](#the-bin-lookup-object) that was created.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BinLookup"
                },
                "examples": {
                  "SuccessfulLookup": {
                    "summary": "Successful BIN lookup",
                    "value": {
                      "id": "bin_lookup_1234567890",
                      "brand": "visa",
                      "funding": "credit",
                      "segment": "consumer",
                      "country": "gb",
                      "currency": "gbp",
                      "issuer": "Gringotts Wizarding Bank and Trust Company",
                      "productName": "Visa Debit",
                      "fastFunds": {
                        "domestic": true,
                        "crossBorder": true
                      },
                      "threeDS": {
                        "supportedVersions": {
                          "accessControlServer": [
                            "2.2.0"
                          ],
                          "directoryServer": [
                            "2.2.0",
                            "2.3.1"
                          ]
                        },
                        "acsInfoIndicators": [
                          {
                            "code": "acs-auth-available",
                            "indicator": "01",
                            "description": "Authentication Available at ACS"
                          }
                        ]
                      },
                      "type": "card",
                      "createdAt": 169297262323
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/merchants": {
      "post": {
        "summary": "Create a Merchant",
        "description": "Enrolls a Merchant with Card Networks.\n\nIn rare cases it can take up to 48 hours to enroll a merchant with each of the card networks. If you are still unable to provision network tokens after this period, please contact support@evervault.com\n",
        "operationId": "createMerchant",
        "tags": [
          "Payments",
          "Merchants"
        ],
        "security": [
          {
            "ApiKey": [
              "merchant:create"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The official name of the Merchant as recognized in transactions and communications. This name is used for display purposes and may be the company's trade name or a derived nickname.",
                    "pattern": "^[a-zA-Z0-9 ]{1,60}$",
                    "example": "Acme"
                  },
                  "shortName": {
                    "type": "string",
                    "description": "A shorter version of the Merchant's name. Optional. When creating a 3D Secure session that references this Merchant by ID, `shortName` is used in place of `name` if `name` exceeds the 40-character limit imposed by the 3D Secure specification.\n",
                    "pattern": "^[a-zA-Z0-9 ]{1,40}$",
                    "example": "Acme"
                  },
                  "website": {
                    "type": "string",
                    "description": "The official website URL of the Merchant. The domain must use a valid IANA top-level domain. See https://data.iana.org/TLD/tlds-alpha-by-domain.txt",
                    "example": "https://www.acme.com"
                  },
                  "categoryCode": {
                    "type": "string",
                    "description": "The 4-digit Merchant Category Code (MCC).",
                    "example": "5945"
                  },
                  "business": {
                    "type": "object",
                    "description": "The business details of the Merchant.",
                    "properties": {
                      "legalName": {
                        "type": "string",
                        "description": "The legal name under which the Merchant's business is registered.",
                        "pattern": "^[a-zA-Z0-9 ]{1,60}$",
                        "example": "Acme Corp"
                      },
                      "address": {
                        "$ref": "#/components/schemas/Address",
                        "description": "The physical address of the Merchant's principal place of business."
                      }
                    },
                    "required": [
                      "legalName",
                      "address"
                    ]
                  },
                  "networkTokens": {
                    "type": "object",
                    "description": "The Merchant's Network Tokens configuration. This field should only be populated if the Merchant has already been enrolled in one of the Card Network programs and can use an existing Token Requestor ID (TRID).",
                    "properties": {
                      "enrolment": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "cardBrand": {
                              "type": "string",
                              "description": "The Card Brand for which the configuration belongs to.",
                              "example": "mastercard"
                            },
                            "tokenRequestorIdentifier": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The existing Token Requestor ID assigned by the Card Brand.",
                              "example": "50165156978"
                            }
                          }
                        }
                      }
                    }
                  },
                  "applePay": {
                    "type": "object",
                    "description": "The Merchant's Apple Pay configuration.",
                    "properties": {
                      "domains": {
                        "type": "array",
                        "description": "The domains the Merchant wants registered with Apple Pay. Only the domain name is required, without the protocol or path. For example, `example.com` is a valid domain, but `https://example.com` is not.\n",
                        "items": {
                          "type": "string",
                          "example": "ollivanders.co.uk"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "name",
                  "website",
                  "categoryCode",
                  "business"
                ]
              },
              "examples": {
                "SimpleExample": {
                  "value": {
                    "name": "Ollivanders Wand Shop",
                    "website": "https://www.ollivanders.co.uk",
                    "categoryCode": "5945",
                    "business": {
                      "legalName": "Ollivanders Wand Shop Ltd",
                      "address": {
                        "line1": "Diagon Alley",
                        "city": "London",
                        "postalCode": "WD1 1AA",
                        "country": "gb"
                      }
                    },
                    "applePay": {
                      "domains": [
                        "ollivanders.co.uk"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a Merchant object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                },
                "examples": {
                  "SuccessfulCreation": {
                    "summary": "Merchant successfully created",
                    "value": {
                      "id": "merchant_eead1d640d7c",
                      "name": "Ollivanders Wand Shop",
                      "website": "https://www.ollivanders.co.uk",
                      "categoryCode": "5945",
                      "business": {
                        "legalName": "Ollivanders Wand Shop Ltd",
                        "address": {
                          "line1": "Diagon Alley",
                          "city": "London",
                          "postalCode": "WD1 1AA",
                          "country": "gb"
                        }
                      },
                      "networkTokens": {
                        "enrolment": [
                          {
                            "cardBrand": "mastercard",
                            "tokenRequestorIdentifier": "50165156978",
                            "status": "active"
                          },
                          {
                            "cardBrand": "visa",
                            "tokenRequestorIdentifier": "40238123804",
                            "status": "active"
                          },
                          {
                            "cardBrand": "american-express",
                            "tokenRequestorIdentifier": null,
                            "status": "inactive"
                          }
                        ]
                      },
                      "applePay": {
                        "domains": [
                          {
                            "domain": "ollivanders.co.uk",
                            "status": "pending"
                          }
                        ]
                      },
                      "createdAt": 1692972623233,
                      "updatedAt": 1692972623768
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "x-section": "Payments",
        "x-group": "Merchants",
        "summary": "List Merchants",
        "description": "Lists all Merchants that have been created.\n",
        "operationId": "listMerchants",
        "tags": [
          "Payments",
          "Merchants"
        ],
        "security": [
          {
            "ApiKey": [
              "merchant:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of Merchants to retrieve per page (default is 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filter the Merchants by name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of Merchant objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Merchant"
                      }
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The number of Merchants retrieved per page."
                    },
                    "nextPage": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "The next page number to retrieve. If there are no additional Merchants, this will be `null`."
                    },
                    "total": {
                      "type": "integer",
                      "description": "The total count of all Merchants, after any filters."
                    }
                  },
                  "required": [
                    "data",
                    "pageSize",
                    "nextPage",
                    "total"
                  ]
                },
                "examples": {
                  "SuccessfulCreation": {
                    "summary": "Successful List",
                    "description": "The Merchants were retrieved successfully.",
                    "value": {
                      "data": [
                        {
                          "id": "merchant_eead1d640d7c",
                          "name": "Ollivanders Wand Shop",
                          "website": "https://www.ollivanders.co.uk",
                          "categoryCode": "5945",
                          "business": {
                            "legalName": "Ollivanders Wand Shop Ltd",
                            "address": {
                              "line1": "Diagon Alley",
                              "city": "London",
                              "postalCode": "WD1 1AA",
                              "country": "gb"
                            }
                          },
                          "networkTokens": {
                            "enrolment": [
                              {
                                "cardBrand": "mastercard",
                                "tokenRequestorIdentifier": "50165156978",
                                "status": "active"
                              },
                              {
                                "cardBrand": "visa",
                                "tokenRequestorIdentifier": "40238123804",
                                "status": "active"
                              },
                              {
                                "cardBrand": "american-express",
                                "tokenRequestorIdentifier": null,
                                "status": "inactive"
                              }
                            ]
                          },
                          "createdAt": 1692972623233,
                          "updatedAt": 1692972623768
                        }
                      ],
                      "pageSize": 50,
                      "nextPage": null,
                      "total": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/merchants/{merchant_id}": {
      "get": {
        "x-section": "Payments",
        "x-group": "Merchants",
        "summary": "Retrieve a Merchant",
        "description": "Retrieves a Merchant by its unique identifier.\n",
        "operationId": "getMerchant",
        "tags": [
          "Payments",
          "Merchants"
        ],
        "security": [
          {
            "ApiKey": [
              "merchant:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "description": "The unique identifier of the merchant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Merchant object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                },
                "examples": {
                  "SuccessfulCreation": {
                    "summary": "Merchant successfully created",
                    "value": {
                      "id": "merchant_eead1d640d7c",
                      "name": "Ollivanders Wand Shop",
                      "website": "https://www.ollivanders.co.uk",
                      "categoryCode": "5945",
                      "business": {
                        "legalName": "Ollivanders Wand Shop Ltd.",
                        "address": {
                          "line1": "Diagon Alley",
                          "city": "London",
                          "postalCode": "WD1 1AA",
                          "country": "gb"
                        }
                      },
                      "networkTokens": {
                        "enrolment": [
                          {
                            "cardBrand": "mastercard",
                            "tokenRequestorIdentifier": "50165156978",
                            "status": "active"
                          },
                          {
                            "cardBrand": "visa",
                            "tokenRequestorIdentifier": "40238123804",
                            "status": "active"
                          },
                          {
                            "cardBrand": "american-express",
                            "tokenRequestorIdentifier": null,
                            "status": "inactive"
                          }
                        ]
                      },
                      "applePay": {
                        "domains": [
                          {
                            "domain": "ollivanders.co.uk",
                            "status": "active"
                          }
                        ]
                      },
                      "createdAt": 1692972623233,
                      "updatedAt": 1692972623768
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "x-section": "Payments",
        "x-group": "Merchants",
        "summary": "Update a Merchant",
        "description": "Updates a Merchant by its unique identifier.\n",
        "operationId": "updateMerchant",
        "tags": [
          "Payments",
          "Merchants"
        ],
        "security": [
          {
            "ApiKey": [
              "merchant:update"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "description": "The id of the Merchant to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shortName": {
                    "type": "string",
                    "description": "A shorter version of the Merchant's name. When creating a 3D Secure session that references this Merchant by ID, `shortName` is used in place of `name` if `name` exceeds the 40-character limit imposed by the 3D Secure specification.\n",
                    "pattern": "^[a-zA-Z0-9 ]{1,40}$",
                    "example": "Acme"
                  },
                  "applePay": {
                    "type": "object",
                    "description": "The Merchant's Apple Pay configuration.",
                    "properties": {
                      "domains": {
                        "type": "array",
                        "description": "The domains the Merchant wants registered with Apple Pay. To remove a domain previously registered with Apple Pay, exclude it from the list. Only the domain name is required, without the protocol or path. For example, `example.com` is a valid domain, but `https://example.com` is not.\n",
                        "items": {
                          "type": "string",
                          "example": "ollivanders.co.uk"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "SimpleExample": {
                  "value": {
                    "shortName": "Ollivanders",
                    "applePay": {
                      "domains": [
                        "ollivanders.co.uk"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Merchant object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                },
                "examples": {
                  "SuccessfulCreation": {
                    "summary": "Merchant successfully updated",
                    "value": {
                      "id": "merchant_eead1d640d7c",
                      "name": "Ollivanders Wand Shop",
                      "shortName": "Ollivanders",
                      "website": "https://www.ollivanders.co.uk",
                      "categoryCode": "5945",
                      "business": {
                        "legalName": "Ollivanders Wand Shop Ltd.",
                        "address": {
                          "line1": "Diagon Alley",
                          "city": "London",
                          "postalCode": "WD1 1AA",
                          "country": "gb"
                        }
                      },
                      "networkTokens": {
                        "enrolment": [
                          {
                            "cardBrand": "mastercard",
                            "tokenRequestorIdentifier": "50165156978",
                            "status": "active"
                          },
                          {
                            "cardBrand": "visa",
                            "tokenRequestorIdentifier": "402338123804",
                            "status": "active"
                          },
                          {
                            "cardBrand": "american-express",
                            "tokenRequestorIdentifier": null,
                            "status": "inactive"
                          }
                        ]
                      },
                      "applePay": {
                        "domains": [
                          {
                            "domain": "ollivanders.co.uk",
                            "status": "pending"
                          }
                        ]
                      },
                      "createdAt": 1692972623233,
                      "updatedAt": 1692972623768
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Merchant",
        "description": "Deletes a Merchant by its unique identifier.\n",
        "operationId": "deleteMerchant",
        "tags": [
          "Payments",
          "Merchants"
        ],
        "security": [
          {
            "ApiKey": [
              "merchant:delete"
            ]
          }
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "description": "The id of the Merchant to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant successfully deleted."
          }
        }
      }
    },
    "/payments/acquirers": {
      "post": {
        "summary": "Create an Acquirer",
        "description": "Creates an Acquirer to be used with 3DS sessions.\n",
        "operationId": "createAcquirer",
        "tags": [
          "Payments",
          "Acquirers"
        ],
        "security": [
          {
            "ApiKey": [
              "acquirer:create"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the Acquirer."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the Acquirer."
                  },
                  "default": {
                    "type": "boolean",
                    "description": "Specifies whether this Acquirer is the default. Only one default Acquirer configuration can exist at a time; setting a new one clears the previous default. If none is defined, the first Acquirer created becomes the default. See the [Acquirers API](/api#acquirers) for details."
                  },
                  "configurations": {
                    "type": "array",
                    "description": "The Acquirer configurations. Configurations are set according to each card network the Acquirer is associated with, and each `network` can only appear once. To use a different `bin`, `acquirerMerchantIdentifier`, or `country` for the same network, create a separate Acquirer.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "network": {
                          "type": "string",
                          "enum": [
                            "visa",
                            "mastercard",
                            "american-express",
                            "discover"
                          ],
                          "description": "The card network of the Acquirer. `discover` covers Discover, Diners Club, and JCB (US only).",
                          "example": "mastercard"
                        },
                        "bin": {
                          "type": "string",
                          "pattern": "^[0-9]{6,11}$",
                          "minLength": 6,
                          "maxLength": 11,
                          "description": "The Bank Identification Number (BIN) of the Acquirer. Must be 6 to 11 digits.",
                          "example": "424242"
                        },
                        "acquirerMerchantIdentifier": {
                          "type": "string",
                          "description": "The merchant identifier associated with the configuration.",
                          "example": "38191048173"
                        },
                        "country": {
                          "type": "string",
                          "format": "iso-3166-1-alpha-2",
                          "description": "The country of the Acquirer configuration, used when creating 3DS sessions.",
                          "example": "ie"
                        }
                      },
                      "required": [
                        "network",
                        "bin",
                        "acquirerMerchantIdentifier",
                        "country"
                      ]
                    }
                  }
                },
                "required": [
                  "name",
                  "configurations"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created Acquirer object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerConfiguration"
                },
                "examples": {
                  "SimpleExample": {
                    "summary": "Acquirer created successfully",
                    "value": {
                      "id": "acquirer_adk3kdljc3",
                      "name": "Ollivanders Wand Shop Production Configuration",
                      "description": "Ollivanders Wand Shop Production Configuration",
                      "default": true,
                      "configurations": [
                        {
                          "network": "mastercard",
                          "bin": "424242",
                          "acquirerMerchantIdentifier": "38191048173",
                          "state": "active",
                          "country": "ie"
                        },
                        {
                          "network": "visa",
                          "bin": "424242",
                          "acquirerMerchantIdentifier": "38191048173",
                          "state": "active",
                          "country": "ie"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Acquirers",
        "description": "Lists all Acquirers that have been created.\n",
        "operationId": "listAcquirers",
        "tags": [
          "Payments",
          "Acquirers"
        ],
        "security": [
          {
            "ApiKey": [
              "acquirer:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of Acquirers to retrieve per page. The default is 50, which is also the maximum.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of Acquirer objects.",
            "x-content": "Returns an array of [Acquirer objects](#the-acquirer-object).\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AcquirerConfiguration"
                      }
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The number of Acquirers retrieved per page."
                    },
                    "nextPage": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "The next page number to retrieve. If there are no additional Acquirers, this will be `null`."
                    },
                    "total": {
                      "type": "integer",
                      "description": "The total count of all Acquirers."
                    }
                  },
                  "required": [
                    "data",
                    "pageSize",
                    "nextPage",
                    "total"
                  ]
                },
                "examples": {
                  "SimpleExample": {
                    "summary": "Successful List",
                    "description": "The Acquirers were retrieved successfully",
                    "value": {
                      "data": [
                        {
                          "id": "acquirer_adk3kdljc3",
                          "name": "Ollivanders Wand Shop Production Configuration",
                          "description": "Ollivanders Wand Shop Production Configuration",
                          "default": true,
                          "configurations": [
                            {
                              "network": "mastercard",
                              "bin": "424242",
                              "acquirerMerchantIdentifier": "38191048173",
                              "state": "active",
                              "country": "ie"
                            },
                            {
                              "network": "visa",
                              "bin": "424242",
                              "acquirerMerchantIdentifier": "38191048173",
                              "state": "active",
                              "country": "ie"
                            }
                          ]
                        }
                      ],
                      "pageSize": 50,
                      "nextPage": null,
                      "total": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/acquirers/{acquirer_id}": {
      "get": {
        "summary": "Retrieve an Acquirer",
        "description": "Retrieves an Acquirer by its unique identifier.\n",
        "operationId": "getAcquirer",
        "tags": [
          "Payments",
          "Acquirers"
        ],
        "security": [
          {
            "ApiKey": [
              "acquirer:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "acquirer_id",
            "in": "path",
            "description": "The unique identifier of the Acquirer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an Acquirer object.",
            "x-content": "Returns the [Acquirer object](#the-acquirer-object).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerConfiguration"
                },
                "examples": {
                  "SimpleExample": {
                    "summary": "Acquirer successfully retrieved",
                    "value": {
                      "id": "acquirer_adk3kdljc3",
                      "name": "Ollivanders Wand Shop Production Configuration",
                      "description": "Ollivanders Wand Shop Production Configuration",
                      "default": true,
                      "configurations": [
                        {
                          "network": "mastercard",
                          "bin": "424242",
                          "acquirerMerchantIdentifier": "38191048173",
                          "state": "active",
                          "country": "ie"
                        },
                        {
                          "network": "visa",
                          "bin": "424242",
                          "acquirerMerchantIdentifier": "38191048173",
                          "state": "active",
                          "country": "ie"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an Acquirer",
        "description": "Updates an Acquirer by its unique identifier.\n",
        "operationId": "updateAcquirer",
        "tags": [
          "Payments",
          "Acquirers"
        ],
        "security": [
          {
            "ApiKey": [
              "acquirer:update"
            ]
          }
        ],
        "parameters": [
          {
            "name": "acquirer_id",
            "in": "path",
            "description": "The id of the Acquirer to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the Acquirer."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the Acquirer."
                  },
                  "default": {
                    "type": "boolean",
                    "description": "Specifies whether this Acquirer is the default. Only one default Acquirer configuration can exist at a time; setting a new one clears the previous default. See the [Acquirers API](/api#acquirers) for details."
                  },
                  "configurations": {
                    "type": "array",
                    "description": "The Acquirer configurations. Configurations are set according to each card network the Acquirer is associated with, and each `network` can only appear once. To use a different `bin`, `acquirerMerchantIdentifier`, or `country` for the same network, create a separate Acquirer.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "network": {
                          "type": "string",
                          "enum": [
                            "visa",
                            "mastercard",
                            "american-express",
                            "discover"
                          ],
                          "example": "mastercard",
                          "description": "The card network to use the configuration for. `discover` covers Discover, Diners Club, and JCB (US only)."
                        },
                        "bin": {
                          "type": "string",
                          "pattern": "^[0-9]{6,11}$",
                          "minLength": 6,
                          "maxLength": 11,
                          "description": "The Bank Identification Number (BIN) of the acquirer. Must be 6 to 11 digits."
                        },
                        "acquirerMerchantIdentifier": {
                          "type": "string",
                          "description": "The merchant identifier the configuration is associated with."
                        },
                        "country": {
                          "type": "string",
                          "format": "iso-3166-1-alpha-2",
                          "example": "ie",
                          "description": "The country of the acquirer configuration, used when creating 3DS sessions."
                        }
                      },
                      "required": [
                        "network"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Acquirer object.",
            "x-content": "Returns the updated [Acquirer object](#the-acquirer-object).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerConfiguration"
                },
                "examples": {
                  "SimpleExample": {
                    "summary": "Acquirer successfully updated",
                    "value": {
                      "id": "acquirer_adk3kdljc3",
                      "name": "Ollivanders Wand Shop Production Configuration",
                      "description": "Ollivanders Wand Shop Production Configuration",
                      "default": true,
                      "configurations": [
                        {
                          "network": "mastercard",
                          "bin": "424242",
                          "acquirerMerchantIdentifier": "38191048173",
                          "state": "active",
                          "country": "ie"
                        },
                        {
                          "network": "visa",
                          "bin": "424242",
                          "acquirerMerchantIdentifier": "38191048173",
                          "state": "active",
                          "country": "ie"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Acquirer",
        "description": "Deletes an Acquirer by its unique identifier.\n",
        "operationId": "deleteAcquirer",
        "tags": [
          "Payments",
          "Acquirers"
        ],
        "security": [
          {
            "ApiKey": [
              "acquirer:delete"
            ]
          }
        ],
        "parameters": [
          {
            "name": "acquirer_id",
            "in": "path",
            "description": "The id of the Acquirer to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Acquirer successfully deleted."
          }
        }
      }
    },
    "/payments/network-tokens": {
      "post": {
        "x-section": "Payments",
        "x-group": "Network Tokens",
        "summary": "Create a Network Token",
        "description": "Create a Network Token for a given card.\n",
        "operationId": "createNetworkToken",
        "tags": [
          "Payments",
          "Network Tokens"
        ],
        "security": [
          {
            "ApiKey": [
              "networkToken:create"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "card": {
                    "description": "The card to tokenize. Either an inline card object or the unique identifier of a Card created with the [Cards API](/api#cards).",
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "An inline card object.",
                        "properties": {
                          "number": {
                            "type": "string",
                            "description": "The card number. Needs to be an Evervault-encrypted card number or a plaintext card number.",
                            "example": "4242424242424242"
                          },
                          "expiry": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/CardExpiry"
                              }
                            ],
                            "description": "The card expiry date. The expiry must be in the current month or later. Expired cards are rejected before tokenization."
                          },
                          "cvc": {
                            "type": "string",
                            "description": "The card security code. Needs to be an Evervault-encrypted CVV or a plaintext CVV.",
                            "example": "123"
                          }
                        },
                        "required": [
                          "number",
                          "expiry"
                        ]
                      },
                      {
                        "type": "string",
                        "description": "The unique identifier of a Card created with the [Cards API](/api#cards).",
                        "example": "card_eead1d640d7c"
                      }
                    ]
                  },
                  "merchant": {
                    "type": "string",
                    "description": "The unique identifier of the Merchant previously created using the Evervault API. It denotes the Merchant to which the Network Token should be associated with.",
                    "example": "merchant_ddsaJsda9d86"
                  }
                },
                "required": [
                  "card",
                  "merchant"
                ]
              },
              "examples": {
                "EvervaultEncryptedExample": {
                  "value": {
                    "card": {
                      "number": "ev:debug:Tk9D:number:nTepvAI585M7lUVp:AkJ6Brzat0E7ui8DSKCSXO7AopU/+GFuBekQ6cGx7eTl:sfihK53itmHp+URxomnTITUpwQwM5nnRrnQ0qdIOUlA=:$",
                      "expiry": {
                        "month": "09",
                        "year": "26"
                      },
                      "cvc": "ev:debug:Tk9D:number:2GW8Nk96yfb2UXcw:A4UOUDGNb16Q//uBYVPibmfJ2734IrvPAoVY+8PvGG0C:5jtAu8KN1HiPeCNqSDCKMapfpg==:$"
                    },
                    "merchant": "merchant_ddsaJsda9d86"
                  }
                },
                "PlaintextCardExample": {
                  "value": {
                    "card": {
                      "number": "4242424242424242",
                      "expiry": {
                        "month": "09",
                        "year": "26"
                      },
                      "cvc": "123"
                    },
                    "merchant": "merchant_ddsaJsda9d86"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a Network Token object.",
            "x-content": "Returns the [Network Token object](#the-network-token-object) that was created.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkToken"
                },
                "examples": {
                  "EvervaultEncryptedExample": {
                    "summary": "Network Token created with encrypted card details",
                    "value": {
                      "id": "network_token_eead1d640d7c",
                      "number": "4498004918463434",
                      "expiry": {
                        "month": "13",
                        "year": "25"
                      },
                      "card": {
                        "lastFour": "4242",
                        "expiry": {
                          "month": "09",
                          "year": "26"
                        },
                        "brand": "visa",
                        "country": "us",
                        "currency": "usd",
                        "funding": "debit",
                        "segment": "consumer",
                        "issuer": "Gringotts Wizarding Bank and Trust Company"
                      },
                      "paymentAccountReference": "512381d9f8e0629211e3949a08002",
                      "tokenRequestorIdentifier": "40020248564",
                      "tokenServiceProvider": "vts",
                      "merchant": "merchant_ddsaJsda9d86",
                      "status": "active",
                      "createdAt": 1692972623233,
                      "updatedAt": 1692972623768
                    }
                  },
                  "PlaintextCardExample": {
                    "summary": "Network Token created with plaintext card details",
                    "value": {
                      "id": "network_token_eead1d640d7c",
                      "number": "4498004918463434",
                      "expiry": {
                        "month": "13",
                        "year": "25"
                      },
                      "card": {
                        "lastFour": "4242",
                        "expiry": {
                          "month": "09",
                          "year": "26"
                        },
                        "brand": "visa"
                      },
                      "paymentAccountReference": "512381d9f8e0629211e3949a08002",
                      "tokenRequestorIdentifier": "40020248564",
                      "tokenServiceProvider": "vts",
                      "merchant": "merchant_ddsaJsda9d86",
                      "status": "active",
                      "createdAt": 1692972623233,
                      "updatedAt": 1692972623768
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IneligibleCard": {
                    "summary": "Ineligible Card",
                    "value": {
                      "code": "payments/network-tokens/ineligible-card",
                      "title": "Ineligible Card",
                      "detail": "The card is not eligible for tokenization. This may be due to the card issuer not supporting tokenization."
                    }
                  },
                  "InvalidCard": {
                    "summary": "Ineligible Card",
                    "value": {
                      "code": "payments/network-tokens/invalid-card",
                      "title": "Invalid Card",
                      "detail": "The provided card details did not pass verification checks. This may be due to an invalid card number, an incorrect CVC, or a discrepancy between the provided and actual card expiry date."
                    }
                  },
                  "ExpiredCard": {
                    "summary": "Expired Card",
                    "value": {
                      "code": "payments/network-tokens/expired-card",
                      "title": "Expired Card",
                      "detail": "The card has expired."
                    }
                  },
                  "DeclinedTokenization": {
                    "summary": "Declined Tokenization",
                    "value": {
                      "code": "payments/network-tokens/declined-tokenization",
                      "title": "Declined Tokenization",
                      "detail": "Tokenization for the given card was declined by the card issuer. This may be due to restrictions related to the card type, issuer policies, or the card's current status"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "MerchantNotReady": {
                    "summary": "Merchant Not Ready",
                    "value": {
                      "code": "payments/network-tokens/merchant-not-ready",
                      "title": "Merchant Not Ready",
                      "detail": "The merchant is not yet ready for tokenizing cards. Enrolling a merchant for network tokenization can take up to 48 hours. Please try again later."
                    }
                  },
                  "TokenServiceProviderProvisioning": {
                    "summary": "Token Service Provider Provisioning",
                    "value": {
                      "code": "payments/network-tokens/token-service-provider-provisioning",
                      "title": "Token Service Provider Provisioning",
                      "detail": "The Token Service Provider is currently provisioning. This may take up to 48 hours to complete. Please try again later. Contact support@evervault.com if this continues after 48 hours."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occurred while processing the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UnavailableTokenServiceProvider": {
                    "summary": "Unavailable Token Service Provider",
                    "value": {
                      "code": "payments/network-tokens/unavailable-token-service-provider",
                      "title": "Unavailable Token Service Provider",
                      "detail": "The Token Service Provider is unavailable. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/network-tokens/{network_token_id}": {
      "get": {
        "x-section": "Payments",
        "x-group": "Network Tokens",
        "summary": "Retrieve a Network Token",
        "description": "Retrieves a Network Token by its unique identifier.\n",
        "operationId": "getNetworkToken",
        "tags": [
          "Payments",
          "Network Tokens"
        ],
        "security": [
          {
            "ApiKey": [
              "networkToken:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "network_token_id",
            "in": "path",
            "description": "The unique identifier of the Network Token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Network Token object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkToken"
                },
                "examples": {
                  "SuccessfulRetrieval": {
                    "summary": "Successful Retrieval",
                    "value": {
                      "id": "network_token_eead1d640d7c",
                      "number": "4498004918463434",
                      "expiry": {
                        "month": "13",
                        "year": "25"
                      },
                      "card": {
                        "lastFour": "4242",
                        "expiry": {
                          "month": "09",
                          "year": "26"
                        },
                        "brand": "visa",
                        "country": "us",
                        "currency": "usd",
                        "funding": "debit",
                        "segment": "consumer",
                        "issuer": "Gringotts Wizarding Bank and Trust Company"
                      },
                      "paymentAccountReference": "512381d9f8e0629211e3949a08002",
                      "tokenRequestorIdentifier": "40020248564",
                      "tokenServiceProvider": "vts",
                      "merchant": "merchant_ddsaJsda9d86",
                      "status": "active",
                      "createdAt": 1692972623233,
                      "updatedAt": 1692972623768
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "x-section": "Payments",
        "x-group": "Network Tokens",
        "summary": "Delete a Network Token",
[...]
